body {
  background-color: rgb(253, 251, 251);
  font-family: 'Open sans', sans-serif;
  margin: 0;
}

#cabecalho {
  top: 0;
  position: fixed;
  margin: 0 0 30px;
  border: 0;
  height: 100px;
  width: 100%;
  background-color: rgb(249, 202, 36);
}

#titulo {
  font-weight: 300;
  font-size: 60px;
  color: black;
  text-align: left;
  margin-left: 3%;
}

article {
  text-align: justify;
  font-size: 20px;
  margin-right: 25%;
  margin-left: 3%;
  display: inline-block;
}

aside {
  font-size: 16px;
  text-align: right;
  width: 15%;
  padding: 1%;
  position: absolute;
  top: 10%;
  right: 0;
}

img {
  width: 30%;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 62%;
}

.lado-direito {
  background-color: rgb(126, 214, 223);
}

footer {
  margin-bottom: 3%;
  margin-left: 3%;
  display: inline-block;
}

h3 {
  margin-left: 3%;
}

ol {
  display: inline-block;
  margin-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

ul {
  display: inline-block;
  margin-left: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#licoes_aprendidas {
  background-color: rgb(246, 229, 141);
  width: 100%;
}

#licoes_a_aprender {
  background-color: rgb(255, 190, 118);
  width: 100%;
}

footer a {
  background-color: rgb(249, 202, 36);
  padding: 5%;
}
